@model CARPARK.DTO.EntitisModelViewDTO.MusteriViewModel
@{
    ViewBag.Title = "CustomerDetail";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<style>
    #sub {
        margin-bottom: 0;
    }
</style>
<div id="content-header">
    <div id="breadcrumb">
        <a href="/DashboardPanel" title="Anasayfaya Geri Dön" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
        <a href="/CustomerList" title="Müşteri Sayfasına Geri Dön" class="tip-bottom"><i class="icon-user"></i> Müşteriler</a>
        <a href="#" class="current">Müşteri Detay</a>
    </div>
</div>


<div class="container-fluid">
    <hr id="sub">
    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <div class="pull-left">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>Müşteri Detay</h5>
                    </div>
                </div>
                <div class="widget-content nopadding">
                    <div id="order-view-content" class="table-responsive">
                        <ul id="order-view-tabs" class="nav nav-tabs tabs-left">
                            <li class="active"><a href="#order-view-tabs-order-details" data-toggle="tab"><strong>Müşteri Bilgileri</strong></a></li>
                            <li><a href="#order-view-tabs-payment" data-toggle="tab"><strong>Hizmet Bilgileri</strong></a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="order-view-tabs-order-details" class="tab-pane active">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td class="span3">Müşteri ID:</td>
                                            <td class="span9">@Model.Musteri.MusteriID</td>
                                        </tr>

                                        <tr>
                                            <td class="span3">Plaka:</td>
                                            <td class="span9">@Model.Musteri.Plaka</td>
                                        </tr>
                                        <tr>
                                            <td class="span3">Marka:</td>
                                            <td class="span9">@Model.Musteri.Marka</td>
                                        </tr>
                                        <tr>
                                            <td class="span3">Model:</td>
                                            <td class="span9">@Model.Musteri.Model</td>
                                        </tr>
                                        <tr>
                                            <td class="span3">Tutar:</td>
                                            <td class="span9">@Model.Musteri.Tutar</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="order-view-tabs-payment">
                                <table class="table table-hover">
                                    <tbody>
                                        @{
                                            if (Model.Musteri.HizmetTuru == "Yıkama")
                                            {
                                                <tr>
                                                    <td class="span3">ID:</td>
                                                    <td class="span9">@Model.Yikama.YikamaID</td>
                                                </tr>
                                                <tr>
                                                    <td class="span3">Hizmet Türü:</td>
                                                    <td class="span9">@Model.Musteri.HizmetTuru</td>
                                                </tr>
                                                <tr>
                                                    <td class="span3">Acıklama:</td>
                                                    <td class="span9">@Model.Musteri.Aciklama</td>
                                                </tr>
                                                <tr>
                                                    <td class="span3">Yıkama Türü:</td>
                                                    <td class="span9">@Model.Yikama.YikamaTuru</td>
                                                </tr>
                                                <tr>
                                                    <td class="span3">Teslim Saati:</td>
                                                    <td class="span9">@Model.Yikama.TeslimSaati</td>
                                                </tr>
                                            }
                                            else if (Model.Musteri.HizmetTuru == "Park")
                                            {
                                                <tr>
                                                    <td class="span3">ID:</td>
                                                    <td class="span9">@Model.Park.ParkID</td>
                                                </tr>
                                                <tr>
                                                    <td class="span3">Hizmet Türü:</td>
                                                    <td class="span9">@Model.Musteri.HizmetTuru</td>
                                                </tr>
                                                <tr>
                                                    <td class="span3">Acıklama:</td>
                                                    <td class="span9">@Model.Musteri.Aciklama</td>
                                                </tr>
                                                <tr>
                                                    <td class="span3">Giriş:</td>
                                                    <td class="span9">@Model.Park.GirisTarihi</td>
                                                </tr>
                                                <tr>
                                                    <td class="span3">Çıkış:</td>
                                                    <td class="span9">@Model.Park.CikisTarihi</td>
                                                </tr>
                                            }
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>